/* Add CSS Styling */

.element-one {
    background-color: #000;
    color: #fff;
}

.element-two {
    background-color: #ffff00;
}

.element-one, .element-two {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}